#content{
    background: goldenrod;
    width: 960px;
    margin: 0 auto;
    
    border-left:10px double gold;
    border-right: 10px double gold;
    height: 960px;
}

h1{
    text-align: center;
    font-variant: small-caps;
}
.right{
    float: right;
    height: 300px;
}

.bio{
    float: left;
    width: 400px;
    border: 3px solid yellow;
    background-color: lightgray;
}

p{
    text-align: justify;
}

.clr{
 
   margin-top: 20px;
}

a{
    color: yellow;
}
a:visited{
    color: yellow;
}
a:hover{
    color: red;
}